<!DOCTYPE html>
<html lang="en">
<title>ElektroEU</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Section -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel='stylesheet' href="/Content/app.css" />
<link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">

            <!-- Brand/logo -->
            <div class="logo">
                <h1 class="pt-4"><a href="index.html">ElektroEU LOGO HERE</a></h1>
                <a href="index.html"><img src="/Assets/images/image_logo2.png" alt="" class="img-fluid"></a>
            </div>

            <!-- Navbar -->
            <nav id="navbar" class="navbar navbar-expand-sm">
                <!-- Links -->
                <ul>
                    <li class="nav-item">
                        <a class="nav-link scrollto active mr-3" href="#home">
                            <i class="fas fa-home px-1"></i> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto" href="#about">
                            <i class="fas fa-user-circle px-1" ></i> About </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto" href="#services">
                            <i class="fas fa-hand-holding-heart px-1"></i> Services </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto" href="#projects">
                            <i class="fas fa-laptop-code px-1"></i> Projects </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scrollto" href="#contact">
                            <i class="fas fa-envelope px-1"></i> Contact </a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <main class="">
        <!-- ======= Home Section ======= -->
        <section id="home" class ="d-flex flex-column justify-content-center align-items-center">
            <div class="home row">
                <div class=" container home-text text-center" data-aos="fade-up">
                    <h1 class="title text-center ">ELEKTRO EU</h1>
                    <p class="statement text-center ">Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit.   </p>
                </div>
            </div>
        </section>

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
    
            <div class="row">
                <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="/Assets/images/aboutpic.PNG" class="img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 class="text-center pt-5" data-aos="fade-up">About Us</h3>
                <p class="pt-3" data-aos="fade-up">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                
                </p>
                </div>
            </div> 
            </div>
        </section><!-- End About Section -->

      <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">
    
            <div class="section-title" data-aos="fade-up">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
    
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
                </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
                </div>
                </div>
    
            </div>
    
            </div>
        </section><!-- End Services Section -->

      <!-- ======= project Section ======= -->
        <section id="projects" class="project section-bg">
            <div class="container">
    
            <div class="section-title" data-aos="fade-up">
                <h2>Projects</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
    
            <div class="row project-container" data-aos="fade-up">
    
                <div class="col-lg-4 col-md-6 project-item filter-app">
                <div class="project-wrap">
                    <img src="/Assets/images/projectpic.PNG" class="img-fluid" alt="">
                    <div class="project-info">
                    <h4>Project 1</h4>
                    <div class="project-links">
                        <a href="/Assets/images/projectpic.PNG" data-gallery="projectGallery" class="project-lightbox" title="Project 1"><i class="bx bx-plus"></i></a>
                        <!-- <a href="project-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                    </div>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 project-item filter-web">
                <div class="project-wrap">
                    <img src="/Assets/images/projectpic.PNG" class="img-fluid" alt="">
                    <div class="project-info">
                    <h4>Project 2</h4>
                    <div class="project-links">
                        <a href="/Assets/images/projectpic.png" data-gallery="projectGallery" class="project-lightbox" title="Project 2"><i class="bx bx-plus"></i></a>
                        <!-- <a href="project-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                    </div>
                    </div>
                </div>
                </div>
    
                <div class="col-lg-4 col-md-6 project-item filter-app">
                <div class="project-wrap">
                    <img src="/Assets/images/projectpic.PNG" class="img-fluid" alt="">
                    <div class="project-info">
                    <h4>Project 3</h4>
                    <div class="project-links">
                        <a href="/Assets/images/projectpic.PNG" data-gallery="projectGallery" class="project-lightbox" title="Project 3"><i class="bx bx-plus"></i></a>
                        <!-- <a href="project-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section><!-- End project Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>

          <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">
              <form id="contact-form" action=""  role="form" class="email-form" novalidate="novalidate" >
                <div class="error-message"></div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    <p id="nameError" class="errorMsg"></p>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    <p id="emailError" class="errorMsg"></p>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div> 
                <div class="text-center"><button  id="submit" type="submit" type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
        </div>
      </section><!-- End Contact Section -->
    </main>
    <!-- Footer -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
    <div class="footer-top">
        <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-md-2 d-flex">
                <div class="footer-info">
                    <h3>ELEKTRO EU</h3>
                    <p>
                    ESTONIA <br>
                    <strong>Phone:</strong> xxx-xxx-xxxx<br>
                    <strong>Email:</strong> info@elektroeu.ee<br>
                    </p>
                </div>
            </div>
            <div class="col text-center">
                <div class="col-sm-6 offset-md-3 d-flex ">
                <iframe style="border:0; width: 100%; height: 200px;" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16230.334682537848!2d24.751968828998347!3d59.43654629361553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692949c82a04bfd%3A0x40ea9fba4fb425c3!2sEstonia!5e0!3m2!1sen!2sca!4v1640924045234!5m2!1sen!2sca" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        </div>
    </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

     <!-- Template Main JS File -->
  <script src="/Script/app.js"></script>
</body>

</html>